<h1>Todo list2</h1>
<br />


<% if @items.any? %>

	<ul>
		<% @items.each do |item| %>
			<li>
				<%= link_to item.name, item_path(item) %>
			</li>
		<% end %>
	</ul>
	<% else %>
		<h3>There are no items on the list please add some</h3>
<% end %>

<%= link_to 'New items',new_item_path %>
